input.ng-invalid.ng-touched {
  border-left:  2px solid red;
}
input.ng-valid {
  border-left:  2px solid green;
}
.login-styl {
  position: relative;
  top: 18px;
  padding: 62px 57px 44px 12px;
  border-radius: 0 99px 0 99px;
 
}
.goole-icon{
  width: 35px;
}
input{
  border-radius: 8px;
}
label{
  color:  grey;
}
.bc-color{
  background-color: whitesmoke;
}
.login-form{
  background-color: white;
border-radius: 20px;
  box-shadow: 0px 9px 30px #88B6D9;
  min-height: 70vh;
}
.signin-bc{
  background-color:#339740;
}
.register-txt{
  color: grey;
border-bottom: 1px solid grey;
  animation: zoom-in-zoom-out 5s ease-in infinite;
}
.register-txt:hover{
  color: #339740;
  border-bottom: 1px solid #339740;
}

.input-pos{
  width: 91%;
  margin-left: 24px;
}



.signupBtn{
  display: flex;
  justify-content: center;
}