.drop-section {
  background: #f9f9f9;
  padding: 25px;
  overscroll-behavior-y: auto;
  height: 100vh;
  overflow: hidden;
  border-right: 1px solid #eae4df;
}
.select-styl{
    width:100%;
  align-items: center;

  border: 1px solid #d2c9bd;
  border-radius: 1.4rem;
  color: #301400;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Nunito",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  outline: none;
  padding: 0 0.5rem;
  transition-duration: .2s;
  transition-property: border;

}
  .select-styl:hover {
    border: 1px solid #ff8f00;
  }


.btn-types button {
  background: none;
  border: none;
  color: #735d58;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size:0.9rem;
}
  .btn-types button:hover {
    border-radius: 20px;
    background: #eee;
  }
.home-nav {
  border-bottom: 1px solid #eae4df;
  padding: 20px;
}
.name-tags p {
  align-items: center;
  color: #735d58;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 2rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;

}
.name-tags {
  border-bottom: 1px solid #eae4df;
}
.hover-bg:hover {
  background-color: #fff8e1;
}
.btn-doc button{
  background: none;
  border: none;
  color: #735d58;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}
select {
    -webkit-appearance: none;
    appearance: none;

}
/*
.select-wrapper {
  position: relative;
}

  .select-wrapper::after {
    font-size: 1rem;
    top: 10px;
    right: 10px;
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f107" !important;
    font-weight: 900;
    margin-right: 4px;
    pointer-events: none;
  } */

.doc-file p {
  align-items: center;
  color: #a08f8a;
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  font-weight: 500;
  min-width: 2rem;
  padding: 0.3rem 2.2rem;
  font-family: "Nunito",sans-serif;
}
.doc-file i {
  color: #a08f8a;
}


.textarea{

  height: 6rem;
  width:100%;
  border: 1px solid #d2c9bd;
    border-radius: .5rem;
    padding-left: 10px;
}

.textarea:hover{
  border: 1px solid #ff8f00;
}

.rytBtn{
  background-color: #ff8f00;
  border: 1px solid #ff8f00;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  color: white;
  width: 100%;
    border-radius: 15px;
    height: 2rem;
    margin-top: 40px;
}

.rytBtn disabled{
  background-color: red;
}
.down-icon{
  float: right;
  position: relative;
  right: 10px;
  top:45px

}


textarea:focus-visible {
  outline: 1px solid #ff8f00!important;
  border-radius: 12px;
}

ngx-editor {
  padding: 20px;

}

.input-styl input{
  width:100%;
  align-items: center;
  border: 1px solid #d2c9bd;
  border-radius: 1.4rem;
  color: #301400;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Nunito",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5rem;
  outline: none;
  padding: 0 0.5rem;
  transition-duration: .2s;
  transition-property: border;

}
.input-styl input:hover{
  border: 1px solid #ff8f00;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: lightgoldenrodyellow;
  color: #666666;
}


