<div class="container-fluid">
  <div class="row">
    <div class=" col-lg-3 col-md-5 col-sm-12 drop-section">

      <div class="row">
        <div class="col-md-6">
          <div>
            <label> Select language</label>
            <i class="fa fa-angle-down down-icon" aria-hidden="true"></i>
            <select class="select-styl my-2">
              <option>
                Arabic
              </option>
              <option>
                Bulgarian
              </option>
              <option>
                Chinese
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">

          <div>
            <label> Select tone</label>
            <i class="fa fa-angle-down  down-icon" aria-hidden="true"></i>
            <select class="select-styl my-2">
              <option>
                Convincing
              </option>
              <option>
                Assertive
              </option>
              <option>
                Critical
              </option>
            </select>
          </div>
        </div>
      </div>


      <div class="row my-2">
        <div class="col-md-12">
          <div>
            <label> Choose use case</label>
            <i class="fa fa-angle-down down-icon" aria-hidden="true"></i>
            <select class="select-styl my-2"  (change)="getcontext()" [(ngModel)]="context">
              <option value="Brand Name" selected>Brand Name </option>
              <option value="Business Idea">Business Idea </option>
              <option value="Call To Action">Call To Action</option>
              <option value="Cover Letter">Cover Letter</option>
              <option value="Email">Email</option>
              <option value="Chat">Chat</option>
              <option value="Job Description">Job Description</option>
              <option value="Blog Idea and Outline">Blog Idea and Outline</option>
            </select>








          </div>
        </div>
      </div>

      <div class="row input-styl" *ngIf="Businessidea ">
        <div class="col-md-12">
          <label>Interest</label>
          <input type="text" placeholder="write your interests"  [(ngModel)]="interest"/>
        </div>
        <div class="col-md-12">
          <label>Skill</label>
          <input type="text" placeholder="write your Skills" [(ngModel)]="skill" />
        </div>
      </div>







      <div class="row" *ngIf="hidetopic">
        <div class="col-md-12">

          <div>
            <label for="">Key points</label>
            <textarea name="" id="" cols="27" rows="10" class="textarea formcontrol"  [(ngModel)]="topic"></textarea>
          </div>

        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <button [disabled]="!isData" class="rytBtn" (click)="getValue()">Ryte for me<i class="fa fa-long-arrow-right mx-3" aria-hidden="true"></i> </button>
        </div>
      </div>




    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">


      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" > </ngx-editor-menu>
        <ngx-editor

          [editor]="editor"
          [(ngModel)]="html"
          [innerHTML]="html"
          [disabled]="false"
          [placeholder]="'Type here...'"
        ></ngx-editor>
      </div>


    </div>
  </div>
</div>

