<div class="container-fluid">
  <div class="row">
    <div class=" col-lg-3 col-md-5 col-sm-12 drop-section">

      <div class="row">
        <div class="col-md-6">
          <div>
            <label> Select language</label>
            <select class="select-styl my-2">
              <option>
                Arabic
              </option>
              <option>
                Bulgarian
              </option>
              <option>
                Chinese
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">

          <div>
            <label> Select tone</label>
            <select class="select-styl my-2">
              <option>
                Convincing
              </option>
              <option>
                Assertive
              </option>
              <option>
                Critical
              </option>
            </select>
          </div>
        </div>
      </div>


      <div class="row my-2">
        <div class="col-md-12">
          <div>
            <label> Choose use case</label>
            <select class="select-styl my-2">
              <option>
                 Story plot
              </option>
              <option>
                Tagline&Headline 
              </option>
              <option>
                Video idea
              </option>
            </select>
          </div>
        </div>
      </div>


    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">

      <div class="row home-nav">
        <div class="col-lg-8 col-md-6 col-sm-4">
          <h6>Home</h6>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="btn-types">
            <button> <i class="fa fa-star" aria-hidden="true"></i><span class="mx-1">Favorites</span></button>
            <button> <i class="fa fa-folder" aria-hidden="true"></i><span class="mx-1"> New folder</span></button>
            <button> <i class="fa fa-file" aria-hidden="true"></i><span class="mx-1"> New document</span></button>
          </div>    
        </div>
      </div>

      <div class="hover-bg">
        <div class="row name-tags">
          <div class="col-lg-7 col-md-6 col-sm-4 col-xs-2">
            <p>Name</p>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-8 col-xs-10" style="display:flex;">

            <p>ITEMS</p>
            <p>WORDS</p>
            <p>MODIFIED</p>
          </div>

        </div>
      </div>


      <div>
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-4 btn-doc">
            <button> <i class="fa fa-file" aria-hidden="true"></i><span class="mx-1"> New document</span></button>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

