<div class="container-fluid editor-view">
  <div class="row">
    <div class=" col-lg-3 col-md-5 col-sm-12 drop-section">
<form  [formGroup]="rytrForm" (ngSubmit)="getValue(rytrForm)">
  <div class="row my-2">
    <div class="col-md-12">
      <div>
        <label> Choose use case</label>
        <ng-multiselect-dropdown
          [settings]="dropdownSettings"
           [(ngModel)]="selectedItems"
          [data]="dropdownList"
          (onSelect)="getcontext()"
          formControlName="context">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>

  <div class="row input-styl" *ngIf="Businessidea ">
    <div class="col-md-12">
      <label>{{this.label1}}</label>
      <input type="text"  [placeholder]="this.placeholder1"  formControlName="interest"/>
    </div>
    <div class="col-md-12">
      <label>{{this.label2}}</label>
      <input type="text" [placeholder]="this.placeholder2" formControlName="skill" />
    </div>
  </div>

  <div class="row" *ngIf="hidetopic">
    <div class="col-md-12">

      <div>
        <label for="">{{this.label1}}</label>
        <textarea name="" id="" cols="27" rows="10"  [placeholder]="this.placeholder1" class="textarea formcontrol"  formControlName="topic"></textarea>
      </div>

    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
      <button   type="submit" [disabled]="!rytrForm.valid" class="rytBtn"  >Write for me<i class="fa fa-long-arrow-right mx-3" aria-hidden="true"></i> </button>
    </div>
  </div>
</form>
    </div>
    <div class="col-lg-9 col-md-7 col-sm-12">
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" > </ngx-editor-menu>
        <ngx-editor
          [editor]="editor"
          [(ngModel)]="html"

          [placeholder]="'Type here...'">
        </ngx-editor>


      </div>

    </div>
  </div>

</div>


<div class="menu-ui  hide-elemnt" id="tooltip_menu">

  <ul class="actions-li" >
    <li *ngFor="let item of action_items" (click)="triggerAction(item)"><i class="fa {{item.icon}}" aria-hidden="true"></i> {{item.name}}</li>
  </ul>
</div>
