.nav-color {
  background-color: #5fab5f;
}
  .nav-color a{
      color:#ffffff;
  }
  .nav-sec {
    display: flex;
    margin-left:auto;
 position:relative;
 top:10px;
 right:12px
  }
.account-styl {
  border-bottom: 3px solid #5fab5f;
  color: #5fab5f;
  opacity: 1;
  position:relative;
  top:8px;
}
  .account-styl a {
    color: white;
  }
 
