<nav class="navbar navbar-expand-sm   nav-color">
   
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->

    <div class="  navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active account-styl ">
          <a class="nav-link mx-3 " routerLinkActive="active" href="#"><i class="fa fa-user" aria-hidden="true"></i> <span class="mx-2">Account</span> </a>
        </li>

      </ul>
    </div>
    <div class="collapse navbar-collapse nav-sec">
      <ul class="navbar-nav" style="gap: 30px;">
        <li  >
          <a class="nav-link " href="#"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </li>
        <li  >
          <a class="nav-link" href="#"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
        </li>
        <li  >
          <a class="nav-link  " href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
 
</nav>
