/* You can add global styles to this file, and also import other style files */


.NgxEditor__Wrapper{
    min-height: 87vh!important;
    margin-top: 10px;
}

.multiselect-dropdown .dropdown-btn {
  border-radius: 20px!important;
  background-color: #fff!important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  background: #339740!important;
  border:2px solid #339740!important;
  border-radius: 20px!important;
}

.multiselect-item-checkbox input + div:before {
  border: 2px solid #339740 !important;
}
.multiselect-item-checkbox input:checked + div:before {
  background: #339740!important;
}
.NgxEditor {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
li{list-style: none;}
