input.ng-invalid.ng-touched {
     border-left:  2px solid red;
   }
   input.ng-valid {
     border-left:  2px solid green;
   }
   
   
   .submit-btn{
     border-radius: 8px;
     background-color:darkcyan;
   }
   .form-styl{
     position: relative;
     top: 27px;
   }
   .freelance-img{
     height: 596px;
   }
   
   .registration-form{
     border-radius: 20px;
     box-shadow: 0px 9px 30px #88B6D9;
   }
    
   
   
   .center {
     width: 180px;
     height: 60px;
     position: relative;
   }
   
   .btn {
     width: 180px;
     height: 60px;
     cursor: pointer;
     background: darkcyan;
     border: 1px solid #91C9FF;
     outline: none;
     transition: 1s ease-in-out;
   
   }
   
   svg {
     position: absolute;
     left: 0;
     top: 0;
     fill: none;
     stroke: #fff;
     stroke-dasharray: 150 480;
     stroke-dashoffset: 150;
     transition: 1s ease-in-out;
   }
   
   .btn:hover {
     transition: 1s ease-in-out;
     background: darkcyan;
   }
   
   .btn:hover svg {
     stroke-dashoffset: -480;
   }
   
   .btn span {
     color: white;
     font-size: 18px;
     font-weight: 400;
   }
   
   input{
     border-radius: 8px;
   }
   
   
   
   